databutton==0.14.2a0
databutton-web==0.13.2
dataclasses-json==0.5.12
json5==0.9.10
jsonlines==3.0.0
jsonpatch==1.33
jsonpickle==2.1.0
jsonpointer==2.4
jsonschema==4.2.1
langchain==0.0.316
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.86
openai==0.28.1
openapi-schema-pydantic==1.2.4
PyPDF2==3.0.1
streamlit==1.31.0
streamlit-aggrid==0.3.3
streamlit-on-Hover-tabs==1.0.1
pathlib==1.0.1